@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 205 43% 93%;
    --foreground: 210 40% 9%;
    --card: 205 43% 96%;
    --card-foreground: 210 40% 9%;
    --popover: 205 43% 96%;
    --popover-foreground: 210 40% 9%;
    --primary: 208 55% 63%;
    --primary-foreground: 210 40% 5%;
    --secondary: 208 55% 80%;
    --secondary-foreground: 210 40% 9%;
    --muted: 210 40% 85%;
    --muted-foreground: 210 40% 45%;
    --accent: 180 60% 61%;
    --accent-foreground: 210 40% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 40% 80%;
    --input: 210 40% 88%;
    --ring: 208 55% 63%;
    --chart-1: 208 55% 63%;
    --chart-2: 180 60% 61%;
    --chart-3: 208 55% 75%;
    --chart-4: 180 60% 75%;
    --chart-5: 208 55% 50%;
    --radius: 0.5rem;
    --sidebar-background: 205 43% 98%;
    --sidebar-foreground: 210 40% 20%;
    --sidebar-primary: 208 55% 63%;
    --sidebar-primary-foreground: 210 40% 5%;
    --sidebar-accent: 205 43% 90%;
    --sidebar-accent-foreground: 210 40% 9%;
    --sidebar-border: 210 40% 85%;
    --sidebar-ring: 208 55% 63%;
  }
  .dark {
    --background: 210 20% 10%;
    --foreground: 210 40% 98%;
    --card: 210 20% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 210 20% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 208 55% 63%;
    --primary-foreground: 210 40% 5%;
    --secondary: 210 20% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 20% 20%;
    --muted-foreground: 210 40% 60%;
    --accent: 180 60% 61%;
    --accent-foreground: 210 40% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 20%;
    --input: 210 20% 20%;
    --ring: 208 55% 63%;
    --chart-1: 208 55% 63%;
    --chart-2: 180 60% 61%;
    --chart-3: 208 55% 75%;
    --chart-4: 180 60% 75%;
    --chart-5: 208 55% 50%;
    --sidebar-background: 210 20% 12%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 208 55% 63%;
    --sidebar-primary-foreground: 210 40% 5%;
    --sidebar-accent: 210 20% 18%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 210 20% 20%;
    --sidebar-ring: 208 55% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
